<div class="center-align">
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-header">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/3b/f0/77/3bf0775b0d234545d14a5941be966ab2.jpg"/>
          </div>
        <div class="card-content">
          <h3>Frank the Pug</h3>
          <h4>The sexiest "Men (dog) in Black" </h4>
          <p>And now you're back from outer space, / I just walked in to find you here with that sad look upon your face, / I should've changed that stupid lock, I should have made you leave your key, / If I'd have known for just one second you'd be back to bother me. / Go on, now go! Walk out the door...</p>
        </div>
        <div class="card-footer">
          <ul>
            <li>
              {{fa-icon "codepen"}}
              {{fa-icon "stack-overflow"}}
              {{fa-icon "github"}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="row">
        {{profile-skills}}
      </div>
      <div class="row">
        {{profile-rating}}
      </div>
    </div>
  </div>
</div>